*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}

.lft{
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(9, 97, 237);
    overflow: hidden;
}

.rght{
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(9, 97, 237);
    overflow: hidden;
}

.float-lft{
    position: absolute;
    width: 100vw;
    height: 100vw;
    left: 100%;
    transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045)0.5s;
    border-radius: 20%;
    background-color: rgb(254, 182, 14);
}

.float-rght{
    position: absolute;
    width: 100vw;
    height: 100vw;
    right: 100%;
    transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045)0.5s;
    border-radius: 20%;
    background-color: rgba(14, 161, 235, 0.689);
}

.cards{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    perspective: 1000px;
    perspective-origin: center center;
}

.card{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 65vh;
    border-radius: 30px;
    background-color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    transform: rotateY(0deg) translate(-50%, 0%);
    rotate: 0deg;
    z-index: 9;
    left: 50%;
    pointer-events: none;
}

.card:nth-child(2){
    flex-direction: column;
    position: absolute;
    z-index: 8;
    rotate: 3deg;
}

.card:nth-child(3){
    flex-direction: column;
    position: absolute;
    z-index: 7;
    rotate: -3deg;
}